@media (min-width: 300px){
    body{
        background-color: #F3E9F1;
    }
    p{
    font-size: 1em;
    }
    #logo{
        width: 70%;
        margin-left: 20%;
        margin-right: 20%;
    }
    table{
        display: flex;
        flex-direction: column;
        border-collapse: collapse;
    }
    td{
        font-size: 1.1em;
        border: 1px solid black;
    }
    #formulaire{
        display: block;
        width: 40%;
        float: left;
        margin-top: 10%;
    }
    #bouton{
        margin-top: 100%;
    }
}



@media (min-width: 600px){
    #formulaire{
        display: block;
        width: 15%;
        float: left;
        margin-top: 10%;
    }
    #bouton{
        margin-top: 55%;
    }
    p{
        font-size: 1.2em;
    }
}

@media (min-width: 1000px){
    #formulaire{
        display: block;
        width: 5%;
        float: left;
        margin-top: 5%;
    }
    #bouton{
        margin-top: 30%;
    }

    
}